# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
config OPLUS_FEATURE_OPROJECT
  tristate "config oplus project info for kernel"
  default n
  help
    define this config to define oplus project
source "drivers/oplus/system/project_info/Kconfig"

config OPLUS_ION_BOOSTPOOL
	bool "Support ION Boost pool"
	default n
	help
	  This driver supports ION boost pool.

