# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
config OPLUS_FEATURE_DUMP_DEVICE_INFO
  bool "config dump device info"
  default n
  help
	define this config to  dump device info.

config OPLUS_FEATURE_OPROJECT
  tristate "config oplus project info for kernel"
  default n
  help
    define this config to define oplus project

config OPLUS_FEATURE_SELINUX_CONTROL_LOG
  bool "config control selinux log"
  default y
  help
	define this config to control selinux log.

config OPLUS_FEATURE_CPU_JANKINFO
	tristate "config cpu_jankinfo"
	default n
	help
	  define this config to enable cpu jankinfo.

#source "drivers/oplus/charger/Kconfig"
#source "drivers/oplus/system/cmdline_parser/Kconfig"
source "drivers/oplus/system/oplus_pmic_monitor/Kconfig"
source "drivers/oplus/oplus_performance/healthinfo/main/Kconfig"
source "drivers/oplus/oplus_performance/inputboost_v4/Kconfig"
source "drivers/oplus/oplus_performance/im/Kconfig"
source "drivers/oplus/oplus_performance/oplus_mm/process_reclaim/Kconfig"
source "drivers/oplus/oplus_performance/oplus_mm/zram_opt/Kconfig"

config OPLUS_FEATURE_FDLEAK_CHECK
    tristate "fdleak check"
    default n
    depends on OPLUS_SYSTEM_KERNEL
    help
      general utility to detect fdleak for userspace key process.

config COLOR_CTRL_V2
	bool "oplus color ctrl device"
	default n
	help
	  Say Y here if you have a color ctrl connected
	  to your system.

	  If unsure, say N.

config OPLUS_ION_BOOSTPOOL
	bool "Support ION Boost pool"
	default n
	help
	  This driver supports ION boost pool.

config OPLUS_FEATURE_CMDLINE
  tristate "Oplus command line"
  default n
  help
        define this config to get command line.

config OPLUS_FEATURE_ANDROIDBOOT
  tristate "Oplus android boot"
  default n
  help
    define this config to get android boot cmdline.

config OPLUS_FEATURE_FTMMODE
  tristate "Oplus ftm mode"
  default n
  help
      define this config to get ftm mode cmdline.

config OPLUS_FEATURE_CHARGERPRESENT
  tristate "Oplus charger present"
  default n
  help
      define this config to get charger present cmdline.

config OPLUS_FEATURE_BUILDVARIANT
  tristate "Oplus buildvariant"
  default n
  help 
      define this config to get buildvariant cmdline.

config OPLUS_FEATURE_SIMCARDNUM
  tristate "Oplus simcardnum"
  default n
  help
      define this config to get simcardnum cmdline.

config OPLUS_FEATURE_CDT
  tristate "Oplus cdt"
  default n
  help
      define this config to get cdt_integrity cmdline.

config OPLUS_FEATURE_SHUTDOWN_SPEED
	tristate "Oplus shutdown speed"
	default n
	help
	  define this config to get shutdown_speed cmdline.
